* {
  box-sizing: border-box;
}
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  height: 100%;
}
form {
  display: block;
  margin-top: 0em;
}
a {
  color: #017afe;
  text-decoration: none;
  background-color: transparent;
}
body {
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  color: #333;
  font-size: 14px;
}
body, h5 {
  line-height: 20px;
}